<div *ngIf="!loadingExam; else isLoading">
  <mat-list>
    <mat-list-item>
      <div class="container2">
        <p class="title">{{exam.name}}</p>
        <span>
          <button mat-raised-button color="primary" style="margin-right: 2vw;"
            (click)="goToSubject()"><mat-icon>keyboard_backspace</mat-icon>Volver</button>
          <button mat-raised-button color="primary" (click)="editExam()"><mat-icon>edit</mat-icon>Editar</button>
        </span>
      </div>
    </mat-list-item>
    <mat-list-item>
      <span class="text">Fecha de apertura: {{getOpeningDate()}}</span> <br>
    </mat-list-item>
    <mat-list-item>
      <span class="text">Fecha de cierre: {{getClosingDate()}}</span> <br>
    </mat-list-item>
    <mat-list-item>
      <span class="text">{{getRemainingTime()}}</span> <br>
    </mat-list-item>
    <mat-list-item>
      <span class="text">El examen cuenta un {{exam.calificationPercentaje}}% de la nota final.</span> <br>
    </mat-list-item>
    <mat-list-item>
      <span class="text">{{getExamVisibility()}}</span> <br>
    </mat-list-item>
    <mat-list-item>
      <span class="text">{{getCalificationVisibility()}}</span> <br>
    </mat-list-item>
    <mat-list-item>
      <span class="text">{{getNumberOfUploadsMessage()}}</span> <br>
    </mat-list-item>
    <mat-list-item *ngIf="exam.type === 'UPLOAD'; else isQuestions">
      <span class="text">En este examen los alumnos tienen que subir un fichero.</span>
    </mat-list-item>
    <ng-template #isQuestions>
      <mat-list-item>
        <span class="text">Este examen es de preguntas cortas.</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <span *ngFor="let question of exam.questions; let i = index">
        <mat-list-item>
          {{i + 1}}. {{question}}
        </mat-list-item>
        <mat-divider></mat-divider>
      </span>
    </ng-template>
    <mat-list-item *ngIf="exam.exerciseUploads > 0">
      <button mat-raised-button color="primary" *ngIf="!loadingDownload; else isLoadingDownload"
        (click)="downloadAllUploads()"><mat-icon>arrow_downward</mat-icon>Descargar todas las entregas</button>
      <ng-template #isLoadingDownload>
        <mat-spinner color="primary" style="height: 50px; width: 50px;"></mat-spinner>
      </ng-template>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary"
      (click)="goToCalificate()"><mat-icon>visibility</mat-icon>Ver entregas</button>
    </mat-list-item>
  </mat-list>
</div>
<ng-template #isLoading>
  <mat-spinner color="primary" style="height: 50px; width: 50px;"></mat-spinner>
</ng-template>
