<mat-grid-list cols="1">
  <button mat-raised-button color="primary" [routerLink]="['/newSubject']" style="margin-bottom: 2vh;" id="newSubjectButton">
    <mat-icon>add</mat-icon> Nueva
    asignatura</button>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="this.name">
    <button mat-icon-button color="primary" (click)="this.searchSubjects()" matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="!loadingSubjects; else loading">
    <div *ngIf="this.subjects.length > 0; else noSubjects">
      <mat-card *ngFor="let subject of this.subjects" id="subjectsList">
        <mat-card-header>
          <mat-card-title style="font-size: x-large;">
            <span id="subjectName">{{subject.name}}</span>
          </mat-card-title>
          <mat-card-subtitle>
            {{this.getTeachers(subject)}}
            <br>
            <span id="numberOfStudents">{{this.getStudents(subject)}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-icon-button color="primary" (click)="viewSubject(subject)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editSubject(subject)" id="editButton">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="deleteSubject(subject)" id="deleteButton">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-paginator #paginator class="demo-paginator" (page)="handlePageEventSubjects($event)" [length]="totalSize"
        [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]">
      </mat-paginator>
    </div>

    <ng-template #noSubjects style="margin-top: 2vh;">
      <div>
        No se han encontrado asignaturas
      </div>
    </ng-template>
  </div>
  <ng-template #loading>
    <div>
      <mat-spinner color="primary" style="height: 50px; width: 50px;"></mat-spinner>
    </div>
  </ng-template>
</mat-grid-list>
