<mat-grid-list cols="1">
  <p style="font-size: x-large;">Registro</p>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [formControl]="name" required>
    <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellidos</mat-label>
    <input matInput [formControl]="lastName" required>
    <mat-error *ngIf="lastName.invalid">{{getErrorMessageLastName()}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Correo electrónico</mat-label>
    <input matInput [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput [formControl]="password" [type]="hidePassword ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirmar contraseña</mat-label>
    <input matInput [formControl]="repeatPassword" [type]="hideRepeatPassword ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatPassword">
      <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button [disabled]="!correctData()" (click)="register()" mat-raised-button color="primary">Registrarse</button>
</mat-grid-list>

