<mat-grid-list cols="1">
  <mat-card>
    <mat-card-header>
      <mat-card-title><span class="title">Nombre</span></mat-card-title>
      <mat-card-subtitle>Selecciona el nombre de la asignatura</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <mat-form-field style="width: 100%;">
        <mat-label>Nombre de la asignatura</mat-label>
        <input matInput [formControl]="name" required id="subjectName">
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title><span class="title">Profesores</span></mat-card-title>
      <mat-card-subtitle>Selecciona a los profesores que van a impartir la asignatura</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content *ngIf="!loadingTeachers; else isLoadingTeachers">
      <mat-form-field appearance="fill">
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="this.teachersName" id="teachersName">
        <button mat-icon-button color="primary" (click)="this.searchTeachers()" matSuffix id="searchTeachersButton">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-list *ngIf="this.allUsersT.length > 0; else noTeachers" id="teachersList">
        <mat-divider></mat-divider>
        <div *ngFor="let teacher of this.allUsersT">
          <mat-list-item [disabled]="this.isStudent(teacher)">
            <mat-checkbox [checked]="this.isTeacher(teacher)" [disabled]="this.isStudent(teacher)"
              (change)="addTeacher(teacher)" id="checkbox"></mat-checkbox>
            {{teacher.name}} {{teacher.lastName}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEventTeachers($event)" [length]="totalSizeT"
          [pageSize]="teacherPageSize" [pageSizeOptions]="[5, 10, 25]">
        </mat-paginator>
      </mat-list>
      <ng-template #noTeachers>
        No hay profesores disponibles
      </ng-template>
    </mat-card-content>
    <ng-template #isLoadingTeachers>
      <mat-card-content>
        <mat-spinner color="primary" style="height: 50px; width: 50px;"></mat-spinner>
      </mat-card-content>
    </ng-template>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title><span class="title">Estudiantes</span></mat-card-title>
      <mat-card-subtitle>Selecciona a los estudiantes que están matriculados en la asignatura</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content  *ngIf="!loadingStudents; else isLoadingStudents">
      <mat-form-field appearance="fill">
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="this.studentsName" id="studentsName">
        <button mat-icon-button color="primary" (click)="this.searchStudents()" matSuffix id="searchStudentsButton">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-list *ngIf="this.allUsersS.length > 0; else noStudents" id="studentsList">

        <mat-divider></mat-divider>
        <div *ngFor="let student of this.allUsersS">
          <mat-list-item [disabled]="this.isTeacher(student)">
            <mat-checkbox [checked]="this.isStudent(student)" [disabled]="this.isTeacher(student)"
              (change)="addStudent(student)" id="checkbox"></mat-checkbox>
            {{student.name}} {{student.lastName}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEventStudents($event)" [length]="totalSizeS"
          [pageSize]="studentPageSize" [pageSizeOptions]="[5, 10, 25]">
        </mat-paginator>
      </mat-list>
      <ng-template #noStudents>
        No hay estudiantes disponibles
      </ng-template>
    </mat-card-content>
    <ng-template #isLoadingStudents>
      <mat-card-content>
        <mat-spinner color="primary" style="height: 50px; width: 50px;"></mat-spinner>
      </mat-card-content>
    </ng-template>
  </mat-card>
  <button [disabled]="!canCreateSubject()" mat-raised-button color="primary" (click)="createSubject()"
    style="margin-right: 2vw;" id="createSubjectButton">Crear Asignatura</button>
  <button mat-raised-button color="primary" [routerLink]="['/']">Cancelar</button>
</mat-grid-list>
